--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: conductionsystem; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.conductionsystem AS ENUM (
    'ESPALDERA',
    'VASO',
    'PARRAL',
    'LIRA',
    'GUYOT'
);


ALTER TYPE public.conductionsystem OWNER TO postgres;

--
-- Name: managementtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.managementtype AS ENUM (
    'CONVENTIONAL',
    'ORGANIC',
    'BIODYNAMIC',
    'INTEGRATED'
);


ALTER TYPE public.managementtype OWNER TO postgres;

--
-- Name: update_plot_area(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_plot_area() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.plot_area := ROUND(ST_Area(ST_Transform(NEW.plot_geom, 3857))::NUMERIC, 2);
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_plot_area() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batches (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    entry_date date,
    exit_date date,
    variety character varying(255),
    plot_id integer,
    description text,
    vessel_id integer,
    initial_volume numeric(10,2),
    current_volume numeric(10,2)
);


ALTER TABLE public.batches OWNER TO postgres;

--
-- Name: batches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.batches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.batches_id_seq OWNER TO postgres;

--
-- Name: batches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.batches_id_seq OWNED BY public.batches.id;


--
-- Name: grapevines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.grapevines (
    gv_id character varying NOT NULL,
    gv_use text,
    name text NOT NULL,
    synonyms text,
    color text,
    gv_type text,
    maintenance_entity text
);


ALTER TABLE public.grapevines OWNER TO postgres;

--
-- Name: grapevines_gv_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.grapevines_gv_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grapevines_gv_id_seq OWNER TO postgres;

--
-- Name: grapevines_gv_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.grapevines_gv_id_seq OWNED BY public.grapevines.gv_id;


--
-- Name: input; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.input (
    id integer NOT NULL,
    category_id integer,
    name character varying(100) NOT NULL,
    brand character varying(100),
    description character varying,
    unit_of_measure character varying(50) NOT NULL,
    unit_price numeric(12,2),
    minimum_stock numeric(12,2),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.input OWNER TO postgres;

--
-- Name: input_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.input_categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description character varying
);


ALTER TABLE public.input_categories OWNER TO postgres;

--
-- Name: input_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.input_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.input_categories_id_seq OWNER TO postgres;

--
-- Name: input_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.input_categories_id_seq OWNED BY public.input_categories.id;


--
-- Name: input_stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.input_stock (
    id integer NOT NULL,
    input_id integer,
    warehouse_id integer,
    available_quantity numeric(12,2) NOT NULL,
    last_update timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_quantity_not_negative CHECK ((available_quantity >= (0)::numeric))
);


ALTER TABLE public.input_stock OWNER TO postgres;

--
-- Name: input_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.input_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.input_stock_id_seq OWNER TO postgres;

--
-- Name: input_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.input_stock_id_seq OWNED BY public.input_stock.id;


--
-- Name: inputs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inputs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inputs_id_seq OWNER TO postgres;

--
-- Name: inputs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inputs_id_seq OWNED BY public.input.id;


--
-- Name: insumos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.insumos (
    id integer NOT NULL,
    nombre character varying(255),
    unidad character varying(255)
);


ALTER TABLE public.insumos OWNER TO postgres;

--
-- Name: insumos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.insumos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.insumos_id_seq OWNER TO postgres;

--
-- Name: insumos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.insumos_id_seq OWNED BY public.insumos.id;


--
-- Name: inventory_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_movements (
    id integer NOT NULL,
    movement_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    input_id integer,
    warehouse_id integer,
    movement_type character varying(50),
    quantity numeric(12,2) NOT NULL,
    unit_price numeric(12,2),
    operation_id integer,
    user_id integer,
    comments character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    vessel_activity_id integer,
    CONSTRAINT check_movement_type CHECK (((movement_type)::text = ANY ((ARRAY['entry'::character varying, 'exit'::character varying, 'adjustment'::character varying])::text[])))
);


ALTER TABLE public.inventory_movements OWNER TO postgres;

--
-- Name: inventory_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_movements_id_seq OWNER TO postgres;

--
-- Name: inventory_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_movements_id_seq OWNED BY public.inventory_movements.id;


--
-- Name: operaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.operaciones (
    id integer NOT NULL,
    parcela_id integer,
    tipo_operacion character varying(255) NOT NULL,
    fecha_inicio date,
    fecha_fin date,
    estado character varying(255),
    responsable_id integer,
    nota text,
    comentario text,
    porcentaje_avance integer,
    creation_date date DEFAULT CURRENT_DATE,
    jornales numeric(8,2),
    personas integer
);


ALTER TABLE public.operaciones OWNER TO postgres;

--
-- Name: operaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.operaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.operaciones_id_seq OWNER TO postgres;

--
-- Name: operaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.operaciones_id_seq OWNED BY public.operaciones.id;


--
-- Name: plot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plot (
    plot_id integer NOT NULL,
    plot_name character varying(255) NOT NULL,
    plot_var character varying(255) NOT NULL,
    plot_rootstock character varying(255),
    plot_implant_year integer,
    plot_creation_year integer,
    plot_conduction character varying,
    plot_management character varying,
    plot_description text,
    active boolean DEFAULT true NOT NULL,
    plot_geom public.geometry(Polygon,4326),
    plot_area numeric(10,2),
    CONSTRAINT chk_plot_var CHECK (((plot_var)::text ~ '^V[0-9]+$'::text)),
    CONSTRAINT enforce_valid_polygon CHECK (public.st_isvalid(plot_geom))
);


ALTER TABLE public.plot OWNER TO postgres;

--
-- Name: plot_plot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.plot_plot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plot_plot_id_seq OWNER TO postgres;

--
-- Name: plot_plot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.plot_plot_id_seq OWNED BY public.plot.plot_id;


--
-- Name: purchase_order_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_order_details (
    id integer NOT NULL,
    order_id integer,
    input_id integer,
    requested_quantity numeric(12,2) NOT NULL,
    received_quantity numeric(12,2) DEFAULT 0,
    unit_price numeric(12,2),
    reception_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.purchase_order_details OWNER TO postgres;

--
-- Name: purchase_order_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.purchase_order_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.purchase_order_details_id_seq OWNER TO postgres;

--
-- Name: purchase_order_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.purchase_order_details_id_seq OWNED BY public.purchase_order_details.id;


--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_orders (
    id integer NOT NULL,
    order_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    supplier_id integer,
    status character varying(50) DEFAULT 'pending'::character varying,
    reception_date timestamp without time zone,
    user_id integer,
    comments character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_order_status CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'partially_received'::character varying, 'completed'::character varying])::text[])))
);


ALTER TABLE public.purchase_orders OWNER TO postgres;

--
-- Name: purchase_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.purchase_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.purchase_orders_id_seq OWNER TO postgres;

--
-- Name: purchase_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.purchase_orders_id_seq OWNED BY public.purchase_orders.id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    contact_person character varying(100),
    phone character varying(50),
    email character varying(100),
    address character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suppliers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.suppliers_id_seq OWNER TO postgres;

--
-- Name: suppliers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.suppliers_id_seq OWNED BY public.suppliers.id;


--
-- Name: task_inputs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_inputs (
    id integer NOT NULL,
    operation_id integer,
    input_id integer,
    planned_quantity numeric(12,2),
    used_quantity numeric(12,2),
    warehouse_id integer,
    status character varying(50) DEFAULT 'planned'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_task_input_status CHECK (((status)::text = ANY ((ARRAY['planned'::character varying, 'used'::character varying])::text[])))
);


ALTER TABLE public.task_inputs OWNER TO postgres;

--
-- Name: task_inputs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.task_inputs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_inputs_id_seq OWNER TO postgres;

--
-- Name: task_inputs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.task_inputs_id_seq OWNED BY public.task_inputs.id;


--
-- Name: task_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_list (
    task_list_id integer NOT NULL,
    task_type character varying(255),
    task_supclass character varying(255),
    task_class character varying(255),
    task_name character varying(255) NOT NULL,
    task_key character varying
);


ALTER TABLE public.task_list OWNER TO postgres;

--
-- Name: task_list_task_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.task_list_task_list_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_list_task_list_id_seq OWNER TO postgres;

--
-- Name: task_list_task_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.task_list_task_list_id_seq OWNED BY public.task_list.task_list_id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    apellido character varying(255),
    email character varying(255),
    password character varying(255),
    rol character varying(255),
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: vessel_activities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vessel_activities (
    id integer NOT NULL,
    origin_vessel_id integer,
    destination_vessel_id integer,
    task_id integer,
    start_date date,
    end_date date,
    status character varying(50),
    responsible_id integer,
    notes text,
    comments text,
    origin_batch_id integer,
    destination_batch_id integer,
    volume numeric(10,2)
);


ALTER TABLE public.vessel_activities OWNER TO postgres;

--
-- Name: vessel_activities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vessel_activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vessel_activities_id_seq OWNER TO postgres;

--
-- Name: vessel_activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vessel_activities_id_seq OWNED BY public.vessel_activities.id;


--
-- Name: vessels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vessels (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(255),
    capacity numeric(10,2),
    capacity_unit character varying(50),
    acquisition_date date,
    status character varying(50),
    description text,
    location character varying(255)
);


ALTER TABLE public.vessels OWNER TO postgres;

--
-- Name: vessels_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vessels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vessels_id_seq OWNER TO postgres;

--
-- Name: vessels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vessels_id_seq OWNED BY public.vessels.id;


--
-- Name: vineyard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vineyard (
    vy_id character varying(255) NOT NULL,
    description character varying(255),
    value character varying(255)
);


ALTER TABLE public.vineyard OWNER TO postgres;

--
-- Name: warehouse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warehouse (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    location character varying(200),
    description character varying,
    type character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_warehouse_type CHECK (((type)::text = ANY ((ARRAY['vineyard'::character varying, 'winery'::character varying])::text[])))
);


ALTER TABLE public.warehouse OWNER TO postgres;

--
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.warehouses_id_seq OWNER TO postgres;

--
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.warehouses_id_seq OWNED BY public.warehouse.id;


--
-- Name: batches id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches ALTER COLUMN id SET DEFAULT nextval('public.batches_id_seq'::regclass);


--
-- Name: grapevines gv_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grapevines ALTER COLUMN gv_id SET DEFAULT nextval('public.grapevines_gv_id_seq'::regclass);


--
-- Name: input id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input ALTER COLUMN id SET DEFAULT nextval('public.inputs_id_seq'::regclass);


--
-- Name: input_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_categories ALTER COLUMN id SET DEFAULT nextval('public.input_categories_id_seq'::regclass);


--
-- Name: input_stock id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_stock ALTER COLUMN id SET DEFAULT nextval('public.input_stock_id_seq'::regclass);


--
-- Name: insumos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insumos ALTER COLUMN id SET DEFAULT nextval('public.insumos_id_seq'::regclass);


--
-- Name: inventory_movements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements ALTER COLUMN id SET DEFAULT nextval('public.inventory_movements_id_seq'::regclass);


--
-- Name: operaciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones ALTER COLUMN id SET DEFAULT nextval('public.operaciones_id_seq'::regclass);


--
-- Name: plot plot_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plot ALTER COLUMN plot_id SET DEFAULT nextval('public.plot_plot_id_seq'::regclass);


--
-- Name: purchase_order_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_details ALTER COLUMN id SET DEFAULT nextval('public.purchase_order_details_id_seq'::regclass);


--
-- Name: purchase_orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders ALTER COLUMN id SET DEFAULT nextval('public.purchase_orders_id_seq'::regclass);


--
-- Name: suppliers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN id SET DEFAULT nextval('public.suppliers_id_seq'::regclass);


--
-- Name: task_inputs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_inputs ALTER COLUMN id SET DEFAULT nextval('public.task_inputs_id_seq'::regclass);


--
-- Name: task_list task_list_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_list ALTER COLUMN task_list_id SET DEFAULT nextval('public.task_list_task_list_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: vessel_activities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities ALTER COLUMN id SET DEFAULT nextval('public.vessel_activities_id_seq'::regclass);


--
-- Name: vessels id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessels ALTER COLUMN id SET DEFAULT nextval('public.vessels_id_seq'::regclass);


--
-- Name: warehouse id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse ALTER COLUMN id SET DEFAULT nextval('public.warehouses_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
0e3ed19952cb
\.


--
-- Data for Name: batches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.batches (id, name, entry_date, exit_date, variety, plot_id, description, vessel_id, initial_volume, current_volume) FROM stdin;
5	Lote Cabernet Sauvignon 2023	2023-10-27	\N	V111	1	Lote de uvas de la parcela 1	\N	9800.00	9800.00
8	dsfqsdfqsdfq	\N	\N	V15	\N	qsdqsdqd	\N	\N	\N
21	test jueves	2025-08-21	2025-08-21	V3	\N	qsdqd	\N	55555.00	\N
22	test gral lunes	2025-08-25	2025-08-25	V2	\N		\N	6000.00	\N
\.


--
-- Data for Name: grapevines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: input; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: input_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.input_categories (id, name, description) FROM stdin;
13	Fitosanitarios	Productos para el control de plagas y enfermedades
14	Fertilizantes	Nutrientes para el suelo y las plantas
15	Combustible	Combustible para maquinaria
16	Insumos de Bodega	Materiales y productos para la bodega
\.


--
-- Data for Name: input_stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: insumos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.insumos (id, nombre, unidad) FROM stdin;
1	Fertilizante X	kg
2	Fertilizante Y	litros
3	Fertilizante Z	kg
4	Combustible	litros
\.


--
-- Data for Name: inventory_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: operaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: plot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_order_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: task_inputs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_inputs (id, operation_id, input_id, planned_quantity, used_quantity, warehouse_id, status, created_at, updated_at) FROM stdin;
39	184	41	\N	33.00	7	used	2025-04-08 19:37:44.33702	2025-04-08 19:37:44.33702
41	188	44	\N	33.00	7	planned	2025-08-22 20:19:39.006823	2025-08-22 20:19:39.006823
42	189	44	\N	55.00	7	planned	2025-08-25 21:24:28.343783	2025-08-25 21:24:28.343783
43	185	41	\N	50.00	\N	planned	2025-08-27 19:38:22.525784	2025-08-27 19:38:22.525784
\.


--
-- Data for Name: task_list; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vessel_activities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vessels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vessels (id, name, type, capacity, capacity_unit, acquisition_date, status, description, location) FROM stdin;
3	TESTEANDO	Barrica	300.00	\N	\N	\N	roble americano tostado medio	\N
12	test grql lunes	Tanque	10000.00	\N	\N	\N	qdfqdfgq	\N
\.


--
-- Data for Name: vineyard; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vineyard (vy_id, description, value) FROM stdin;
CON1	conduction	ESPALDERA
CON2	conduction	VASO
CON3	conduction	PARRAL
CON4	conduction	LIRA
CON5	conduction	GUYOT
MAN1	management	CONVENTIONAL
MAN2	management	ORGANIC
MAN3	management	BIODYNAMIC
MAN4	management	INTEGRATED
\.


--
-- Data for Name: warehouse; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.warehouse (id, name, location, description, type, created_at, updated_at) FROM stdin;
7	Almac├⌐n Finca	Parcela 1	Almac├⌐n para insumos de campo	vineyard	2025-03-03 09:00:41.501649	2025-03-03 09:00:41.501649
8	Bodega Principal	Edificio Bodega	Almac├⌐n para insumos de bodega	winery	2025-03-03 09:00:41.501649	2025-03-03 09:00:41.501649
\.


--
-- Name: batches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.batches_id_seq', 22, true);


--
-- Name: grapevines_gv_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.grapevines_gv_id_seq', 1, false);


--
-- Name: input_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.input_categories_id_seq', 20, true);


--
-- Name: input_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.input_stock_id_seq', 58, true);


--
-- Name: inputs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inputs_id_seq', 58, true);


--
-- Name: insumos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.insumos_id_seq', 4, true);


--
-- Name: inventory_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_movements_id_seq', 143, true);


--
-- Name: operaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.operaciones_id_seq', 189, true);


--
-- Name: plot_plot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.plot_plot_id_seq', 29, true);


--
-- Name: purchase_order_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_order_details_id_seq', 21, true);


--
-- Name: purchase_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_orders_id_seq', 12, true);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 8, true);


--
-- Name: task_inputs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_inputs_id_seq', 43, true);


--
-- Name: task_list_task_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_list_task_list_id_seq', 104, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 6, true);


--
-- Name: vessel_activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vessel_activities_id_seq', 49, true);


--
-- Name: vessels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vessels_id_seq', 12, true);


--
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.warehouses_id_seq', 8, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: batches batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_pkey PRIMARY KEY (id);


--
-- Name: grapevines grapevines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grapevines
    ADD CONSTRAINT grapevines_pkey PRIMARY KEY (gv_id);


--
-- Name: input_categories input_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_categories
    ADD CONSTRAINT input_categories_pkey PRIMARY KEY (id);


--
-- Name: input_stock input_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_stock
    ADD CONSTRAINT input_stock_pkey PRIMARY KEY (id);


--
-- Name: input inputs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input
    ADD CONSTRAINT inputs_pkey PRIMARY KEY (id);


--
-- Name: insumos insumos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insumos
    ADD CONSTRAINT insumos_pkey PRIMARY KEY (id);


--
-- Name: inventory_movements inventory_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_pkey PRIMARY KEY (id);


--
-- Name: operaciones operaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones
    ADD CONSTRAINT operaciones_pkey PRIMARY KEY (id);


--
-- Name: plot plot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plot
    ADD CONSTRAINT plot_pkey PRIMARY KEY (plot_id);


--
-- Name: plot plot_plot_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plot
    ADD CONSTRAINT plot_plot_name_key UNIQUE (plot_name);


--
-- Name: purchase_order_details purchase_order_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_details
    ADD CONSTRAINT purchase_order_details_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: task_inputs task_inputs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_inputs
    ADD CONSTRAINT task_inputs_pkey PRIMARY KEY (id);


--
-- Name: task_list task_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_list
    ADD CONSTRAINT task_list_pkey PRIMARY KEY (task_list_id);


--
-- Name: task_list task_list_task_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_list
    ADD CONSTRAINT task_list_task_name_key UNIQUE (task_name);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: vessel_activities vessel_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities
    ADD CONSTRAINT vessel_activities_pkey PRIMARY KEY (id);


--
-- Name: vessels vessels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessels
    ADD CONSTRAINT vessels_pkey PRIMARY KEY (id);


--
-- Name: vineyard vineyard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vineyard
    ADD CONSTRAINT vineyard_pkey PRIMARY KEY (vy_id);


--
-- Name: vineyard vineyard_value_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vineyard
    ADD CONSTRAINT vineyard_value_key UNIQUE (value);


--
-- Name: warehouse warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouse
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- Name: ix_batches_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_batches_id ON public.batches USING btree (id);


--
-- Name: ix_input_categories_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_input_categories_id ON public.input_categories USING btree (id);


--
-- Name: ix_input_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_input_id ON public.input USING btree (id);


--
-- Name: ix_input_stock_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_input_stock_id ON public.input_stock USING btree (id);


--
-- Name: ix_insumos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_insumos_id ON public.insumos USING btree (id);


--
-- Name: ix_inventory_movements_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_inventory_movements_id ON public.inventory_movements USING btree (id);


--
-- Name: ix_operaciones_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_operaciones_id ON public.operaciones USING btree (id);


--
-- Name: ix_plot_plot_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_plot_plot_id ON public.plot USING btree (plot_id);


--
-- Name: ix_purchase_order_details_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_purchase_order_details_id ON public.purchase_order_details USING btree (id);


--
-- Name: ix_purchase_orders_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_purchase_orders_id ON public.purchase_orders USING btree (id);


--
-- Name: ix_suppliers_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_suppliers_id ON public.suppliers USING btree (id);


--
-- Name: ix_task_inputs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_task_inputs_id ON public.task_inputs USING btree (id);


--
-- Name: ix_task_list_task_list_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_task_list_task_list_id ON public.task_list USING btree (task_list_id);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: ix_vessel_activities_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vessel_activities_id ON public.vessel_activities USING btree (id);


--
-- Name: ix_vessels_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vessels_id ON public.vessels USING btree (id);


--
-- Name: ix_warehouse_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_warehouse_id ON public.warehouse USING btree (id);


--
-- Name: plot_geom_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX plot_geom_idx ON public.plot USING gist (plot_geom);


--
-- Name: plot trigger_update_plot_area; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_plot_area BEFORE INSERT OR UPDATE ON public.plot FOR EACH ROW EXECUTE FUNCTION public.update_plot_area();


--
-- Name: batches batches_plot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_plot_id_fkey FOREIGN KEY (plot_id) REFERENCES public.plot(plot_id);


--
-- Name: batches batches_variety_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_variety_fkey FOREIGN KEY (variety) REFERENCES public.grapevines(gv_id);


--
-- Name: batches batches_vessel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_vessel_id_fkey FOREIGN KEY (vessel_id) REFERENCES public.vessels(id);


--
-- Name: inventory_movements fk_vessel_activity_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT fk_vessel_activity_id FOREIGN KEY (vessel_activity_id) REFERENCES public.vessel_activities(id);


--
-- Name: input_stock input_stock_input_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_stock
    ADD CONSTRAINT input_stock_input_id_fkey FOREIGN KEY (input_id) REFERENCES public.input(id) ON DELETE CASCADE;


--
-- Name: input_stock input_stock_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_stock
    ADD CONSTRAINT input_stock_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouse(id);


--
-- Name: input inputs_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input
    ADD CONSTRAINT inputs_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.input_categories(id);


--
-- Name: inventory_movements inventory_movements_input_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_input_id_fkey FOREIGN KEY (input_id) REFERENCES public.input(id) ON DELETE CASCADE;


--
-- Name: inventory_movements inventory_movements_operation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_operation_id_fkey FOREIGN KEY (operation_id) REFERENCES public.operaciones(id);


--
-- Name: inventory_movements inventory_movements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.usuarios(id);


--
-- Name: inventory_movements inventory_movements_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouse(id);


--
-- Name: operaciones operaciones_parcela_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones
    ADD CONSTRAINT operaciones_parcela_id_fkey FOREIGN KEY (parcela_id) REFERENCES public.plot(plot_id);


--
-- Name: operaciones operaciones_responsable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones
    ADD CONSTRAINT operaciones_responsable_id_fkey FOREIGN KEY (responsable_id) REFERENCES public.usuarios(id);


--
-- Name: operaciones operaciones_tipo_operacion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones
    ADD CONSTRAINT operaciones_tipo_operacion_fkey FOREIGN KEY (tipo_operacion) REFERENCES public.task_list(task_name);


--
-- Name: plot plot_plot_conduction_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plot
    ADD CONSTRAINT plot_plot_conduction_fkey FOREIGN KEY (plot_conduction) REFERENCES public.vineyard(vy_id);


--
-- Name: plot plot_plot_management_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plot
    ADD CONSTRAINT plot_plot_management_fkey FOREIGN KEY (plot_management) REFERENCES public.vineyard(vy_id);


--
-- Name: plot plot_plot_rootstock_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plot
    ADD CONSTRAINT plot_plot_rootstock_fkey FOREIGN KEY (plot_rootstock) REFERENCES public.grapevines(gv_id);


--
-- Name: plot plot_plot_var_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plot
    ADD CONSTRAINT plot_plot_var_fkey FOREIGN KEY (plot_var) REFERENCES public.grapevines(gv_id);


--
-- Name: purchase_order_details purchase_order_details_input_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_details
    ADD CONSTRAINT purchase_order_details_input_id_fkey FOREIGN KEY (input_id) REFERENCES public.input(id) ON DELETE CASCADE;


--
-- Name: purchase_order_details purchase_order_details_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_details
    ADD CONSTRAINT purchase_order_details_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.purchase_orders(id);


--
-- Name: purchase_orders purchase_orders_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: purchase_orders purchase_orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.usuarios(id);


--
-- Name: task_inputs task_inputs_input_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_inputs
    ADD CONSTRAINT task_inputs_input_id_fkey FOREIGN KEY (input_id) REFERENCES public.input(id) ON DELETE CASCADE;


--
-- Name: task_inputs task_inputs_operation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_inputs
    ADD CONSTRAINT task_inputs_operation_id_fkey FOREIGN KEY (operation_id) REFERENCES public.operaciones(id);


--
-- Name: task_inputs task_inputs_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_inputs
    ADD CONSTRAINT task_inputs_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouse(id);


--
-- Name: vessel_activities vessel_activities_destination_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities
    ADD CONSTRAINT vessel_activities_destination_batch_id_fkey FOREIGN KEY (destination_batch_id) REFERENCES public.batches(id);


--
-- Name: vessel_activities vessel_activities_destination_vessel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities
    ADD CONSTRAINT vessel_activities_destination_vessel_id_fkey FOREIGN KEY (destination_vessel_id) REFERENCES public.vessels(id);


--
-- Name: vessel_activities vessel_activities_origin_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities
    ADD CONSTRAINT vessel_activities_origin_batch_id_fkey FOREIGN KEY (origin_batch_id) REFERENCES public.batches(id);


--
-- Name: vessel_activities vessel_activities_origin_vessel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities
    ADD CONSTRAINT vessel_activities_origin_vessel_id_fkey FOREIGN KEY (origin_vessel_id) REFERENCES public.vessels(id);


--
-- Name: vessel_activities vessel_activities_responsible_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities
    ADD CONSTRAINT vessel_activities_responsible_id_fkey FOREIGN KEY (responsible_id) REFERENCES public.usuarios(id);


--
-- Name: vessel_activities vessel_activities_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vessel_activities
    ADD CONSTRAINT vessel_activities_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.task_list(task_list_id);


--
-- PostgreSQL database dump complete
--

